/* src/styles/Register.css */

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  .register-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-link {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .register-form input,
  .register-form button{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .register-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  .register-form input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .date-picker-container label {
    margin-bottom: 5px;
    color: #333;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .register-link p {
    text-align: center;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  